@import "../index.scss";

// Timing Variables
$slide-down-duration: 0.6s;
$slide-down-delay: 0.08s;

// header
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

// Common Effects ..
@mixin gradient($layer, $color1, $color2) {
  position: absolute;
  top: calc($layer * $height);
  left: 0;
  right: 0;
  height: $height;
  font-size: $font-size;
  background: linear-gradient(90deg, $color1, $color2);
}
@mixin slide-down($layer, $duration, $delay) {
  animation: slide-down-animation $duration cubic-bezier(0.08, 0.42, 0, 0.79)
    calc($layer * $delay) both;
}
@mixin slide-up($duration, $delay) {
  animation: slide-up-animation $duration cubic-bezier(0.08, 0.42, 0, 0.79)
    $delay both;
}

// 6 layers of greadients
.gradient-1 {
  @include gradient(0, $color-1, $color-2);
}
.gradient-2 {
  @include gradient(1, $color-3, $color-4);
}
.gradient-3 {
  @include gradient(2, $color-5, $color-6);
}
.gradient-4 {
  @include gradient(3, $color-7, $color-8);
}
.gradient-5 {
  @include gradient(4, $color-9, $color-10);
}
.gradient-6 {
  @include gradient(5, $color-11, $color-12);
}
// Sliding DOWN
.down-1 {
  @include slide-down(0, $slide-down-duration, $slide-down-delay);
}
.down-2 {
  @include slide-down(1, $slide-down-duration, $slide-down-delay);
}
.down-3 {
  @include slide-down(2, $slide-down-duration, $slide-down-delay);
}
.down-4 {
  @include slide-down(3, $slide-down-duration, $slide-down-delay);
}
.down-5 {
  @include slide-down(4, $slide-down-duration, $slide-down-delay);
}
.down-6 {
  @include slide-down(5, $slide-down-duration, $slide-down-delay);
}
// Sliding UP
.up-4 {
  @include slide-up(0.3s, 0.1s);
}
.up-5 {
  @include slide-up(0.3s, 0.05s);
}
.up-6 {
  @include slide-up(0.3s, 0s);
}
// Sliding LEFT
.left-1 {
  animation: slide-left-animation-1 0.4s cubic-bezier(0.09, 0.96, 0.78, 0.92)
    0.4s both;
}
.left-2-3 {
  animation: slide-left-animation-2-3 0.4s cubic-bezier(0.09, 0.96, 0.78, 0.92)
    0.4s both;
}
// Sliding RIGHT
.right {
  animation: slide-right-animation 0.24s ease-in both;
}

//
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: $font-lcd;
  line-height: $height;
  text-align: center;
  color: black;
}
.logo {
  text-align: left;
  margin-left: 3rem;
  width: fit-content;
  animation: show-animation 1.3s ease-in both;
}
.nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 6rem;
  animation: show-animation 1.3s ease-in both;
}

.logo-big {
  text-align: left;
  z-index: 3;
  animation: logo-bigger 1s cubic-bezier(0.09, 0.96, 0.78, 0.92) both;
  .design {
    animation: logo-smaller 1s cubic-bezier(0.09, 0.96, 0.78, 0.92) both;
  }
}

.hide-links {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 6rem;
}

.link {
  width: fit-content;
  position: relative;
  padding: 0 0.5rem;
}
.link:hover::before {
  content: "";
  position: absolute;
  display: flex;
  background-color: #fff;
  height: 0.2rem;
  width: 100%;
  top: 50%;
  z-index: -1;
  margin-left: -0.5rem;
  animation: blink 0.2s ease-in both;
}

.menu {
  position: absolute;
  top: calc(-1 * $height);
  left: calc(3 * $height);
  background-color: gray;
  height: calc(3 * $height);
  width: calc(3 * $height);
  padding: 0.5rem;
  margin-top: -$height;
  animation: slide-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
.menu:hover {
  cursor: pointer;
  border: 0.3rem solid $color-bg;
}
// ANIMATIONS
@keyframes slide-down-animation {
  0% {
    height: 0;
  }
  100% {
    height: $height;
  }
}
@keyframes slide-up-animation {
  0% {
    height: $height;
  }
  100% {
    height: 0;
  }
}

@keyframes slide-left-animation-1 {
  0% {
    height: $height;
    width: 100%;
    z-index: 2;
  }
  50% {
    height: calc(3 * $height);
  }
  100% {
    height: calc(3 * $height);
    width: calc(3 * $height);
    z-index: 2;
  }
}
@keyframes slide-left-animation-2-3 {
  0% {
    width: 100%;
  }
  100% {
    width: calc(3 * $height);
  }
}
@keyframes slide-right-animation {
  0% {
    width: calc(3 * $height);
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-animation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-bigger {
  0% {
    font-size: $font-size;
    margin-left: 3rem;
  }
  20% {
    margin-left: 0.15rem;
    font-size: $font-size;
  }
  60% {
    font-size: $font-size;
    font-weight: 600;
  }
  100% {
    margin-left: 0.15rem;
    font-size: calc(1.5 * $font-size);
    font-weight: 600;
  }
}
@keyframes logo-smaller {
  0% {
    font-size: 1.2rem;
  }
  20% {
  }
  60% {
    font-size: 0rem;
  }

  100% {
    font-size: 0rem;
  }
}
@keyframes flash-down-animation {
  0% {
    height: 1.2rem;
    z-index: 1;
    width: 4rem;
  }

  100% {
    height: 3.6rem;
    z-index: 3;
    width: 4rem;
  }
}

@keyframes slide-fwd-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
