@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@font-face {
  font-family: "lcd_solidregular";
  src: url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff2") format("woff2"),
    url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Variables ..
$color-1: #73c046;
$color-2: #cb866d;
$color-3: #60a53a;
$color-4: #af715d;
$color-5: #3c6b26;
$color-6: #73473c;
$color-7: #2a4e19;
$color-8: #54332d;
$color-9: #1a320f;
$color-10: #351f1b;
$color-11: #10220b;
$color-12: #261412;
$color-bg: #000000;
$color-txt: #ffffff;

$font-lcd: "lcd_solidregular";
$font-Montserrat: "Montserrat";

$height: 1.2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  color: $color-txt;
  height: 400vh;
  transition: all ease;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
section:nth-child(odd) {
  background-color: #161816;
}

@mixin gradient-border($w, $color1, $color2) {
  position: relative;
  padding: 1rem;
  line-height: 1.8rem;
  background-color: $color-bg;
  $width: $w;
  &::after {
    content: "";
    position: absolute;
    top: calc(-1 * $width);
    left: calc(-1 * $width);
    height: calc(100% + $width * 2);
    width: calc(100% + $width * 2);
    background: linear-gradient(90deg, $color1, $color2);
    z-index: -1;
    animation: animatedgradient 1s ease alternate infinite;
    background-size: 300% 300%;
  }
}
@mixin gradient-border-after($width, $color1, $color2) {
  position: absolute;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
